body {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.header,
.marketing,
.footer {
    padding-right: 1rem;
    padding-left: 1rem;
}

.header {
    padding-bottom: 1rem;
    border-bottom: .05rem solid #e5e5e5;
}

.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 3rem;
}

.footer {
    padding-top: 1rem;
    color: #777;
    border-top: .05rem solid #e5e5e5;
}

@media (min-width: 88em) {
    .container {
        max-width: 86rem;
    }
}

.container-narrow > hr {
    margin: 2rem 0;
}

.marketing {
    margin: 1.5rem 0;
}

.marketing p + h4 {
    margin-top: 1.5rem;
}

.logo {
    margin-left: 0.5em;
}

@media screen and (min-width: 48em) {
    .header,
    .marketing,
    .footer {
        padding-right: 0;
        padding-left: 0;
    }
    .header {
        margin-bottom: 2rem;
    }
}
