<!DOCTYPE html>
{% load staticfiles %}
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ZAKAZ</title>
    <link href="{% static 'booking/lib/bootstrap-4.0.0-alpha.6-dist/css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'booking/base/base.css' %}" rel="stylesheet">
	{% block corestyles %}{% endblock %}
	{% block userstyles %}{% endblock %}
</head>
<body>
	<div class="container">
		<div class="header clearfix">
			<nav>
				{% block navigation %}
				{% endblock %}
			</nav>
			<h3 class="logo text-muted"><img src="{% static 'booking/img/logo.svg' %}" alt="ZAKAZ" /></h3>
		</div>
		<div class="marketing row row-offcanvas row-offcanvas-right">{% block marketing %}{% endblock %}</div>
		<footer class="footer"><p>&copy; ИУ7-83</p></footer>
	</div>
	{% block body %}{% endblock %}
	<script src="{% static 'booking/lib/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'booking/lib/tether-1.3.3/js/tether.min.js' %}"></script>
	<script src="{% static 'booking/lib/bootstrap-4.0.0-alpha.6-dist/js/bootstrap.min.js' %}"></script>
	{% block corescripts %}{% endblock %}
	{% block userscripts %}{% endblock %}
</body>
</html>

