{% extends "booking/base.html" %}
{% block corestyles %}
<link href="{% static 'booking/booking/booking.css' %}" rel="stylesheet">
{% endblock %}
{% block corescripts %}
<script src="{% static 'booking/lib/sprintf.min.js' %}"></script>
<script src="{% static 'booking/booking/booking.js' %}"></script>
<script src="{% static 'booking/base/base.js' %}"></script>
<script>
	var staticUrl = "{% static '' %}";
	var orderUrl = "{% url 'booking:orders_page' %}";
	var orderEditorUrl = "{% url 'booking:order_editor' %}";
	var booksServicesUrl = "{% url 'booking:books_services' %}";
	var ordersServicesUrl = "{% url 'booking:orders_services' %}";
	var catalogsServicesUrl = "{% url 'booking:catalogs_services' %}";
</script>
<script>
var orderStates = {
    {% for pos, state in states %}
    {{ pos }}: "{{ state }}",
    {% endfor %}
};
</script>
{% endblock %}
{% block navigation %}
<ul class="nav nav-pills float-right">
	{% block links %}
	{% endblock %}
	<li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
		aria-haspopup="true" aria-expanded="false">{{ user.last_name }} {{ user.first_name|slice:":1" }}.</a>
		<div class="dropdown-menu">
			<a class="dropdown-item disabled" href="#">Настройки</a>
			<div class="dropdown-divider"></div>
			<a class="dropdown-item" href="{% url 'booking:logout_page' %}">Выход</a>
		</div>
	</li>
</ul>
{% endblock %}
