{% extends "booking/booking.html" %}
{% block userstyles %}
<link href="{% static 'booking/catalogs/catalogs.css' %}" rel="stylesheet">
{% endblock %}
{% block links %}
<li class="nav-item"><a class="nav-link" href="{% url 'booking:main_page' %}">Книги</a></li>
<li class="nav-item"><a class="nav-link" href="{% url 'booking:orders_page' %}">Заказы</a></li>
<li class="nav-item"><a class="nav-link active" href="{% url 'booking:catalogs_page' %}">Издательства</a></li>
{% endblock %}
{% block marketing %}
<table id="catalogs-table" class="table table-hover">
    <thead class="thead-default">
        <th width="50%">Издательство</th>
        <th width="20%">Кол - во элементов</th>
        <th width="25%">Последнее обновление</th>
        <th width="5%"></th>
    </thead>
    <tbody></tbody>
</table>
{% endblock %}
{% block body %}
<div class="modal fade" id="catalog-refresh-dialog" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body"><form>
                <div class="form-group">
                    <label class="form-control-label" for="refresh-progress">Выполняется обновление каталога</label>
                    <div class="progress">
                        <div id="refresh-progress" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                    </div>
                </div>
            </form></div>
        </div>
    </div>
</div>
{% endblock %}
{% block userscripts %}
<script src="{% static 'booking/catalogs/catalogs.js' %}"></script>
{% endblock %}
