{% extends "booking/base.html" %}
{% block userstyles %}
<link href="{% static 'booking/login/login.css' %}" rel="stylesheet">
{% endblock %}
{% block marketing %}
<form class="form-signin" method="post">
    {% csrf_token %}
    <input type="username" name="username" id="input-username" class="form-control" placeholder="Логин" required autofocus>
    <input type="password" name="password" id="input-password" class="form-control" placeholder="Пароль" required>
    <button class="btn btn-lg btn-outline-primary btn-block" type="submit">Войти</button>
    <input type="hidden" name="next" value="{{ next }}" />
</form>
{% endblock %}
