{% extends "booking/booking.html" %}
{% block userstyles %}
<link href="{% static 'booking/main/main.css' %}" rel="stylesheet">
{% endblock %}
{% block links %}
<li class="nav-item"><a class="nav-link active" href="#">Книги</a></li>
<li class="nav-item"><a class="nav-link" href="#" data-toggle="modal" data-target="#orders-dialog">Заказы</a></li>
<li class="nav-item"><a class="nav-link" href="{% url 'booking:catalogs_page' %}">Издательства</a></li>
{% endblock %}
{% block marketing %}
<div class="col-12 col-md-9">
    <table id="books-table" class="table table-hover">
        <thead class="thead-default">
        <th width="75%">Описание книги</th>
        <th width="15%">Цена</th>
        <th width="10%"></th>
        </thead>
        <tbody></tbody>
    </table>
</div>
<div class="col-6 col-md-3 sidebar-offcanvas">
    <button type="button" class="btn btn-success add-new-button" data-toggle="modal" data-target="#new-book-dialog">Добавить новую книгу</button>
    <div class="filters list-group">
        <form class="list-group-item">
            <div class="form-group">
                <label for="filter-provider">Издательство</label>
                <select id="filter-provider" class="custom-select form-control">
                    <option value="0">Все</option>
                    {% for provider in providers %}
                    <option value="{{ provider.id }}">{{ provider.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="filter-authors">Автор</label>
                <input id="filter-authors" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="filter-name">Название</label>
                <input id="filter-name" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="filter-year">Год издания</label>
                <input id="filter-year" type="number" class="form-control"/>
            </div>
            <div style="min-width: 100%" class="btn-group-vertical" role="group">
                <button id="apply-books-filter" type="button" class="btn btn-outline-primary" onclick="applyBooksFilter()">Применить</button>
                <button type="button" class="btn btn-outline-primary" onclick="resetBooksFilter()">Сбросить</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block body %}
<div class="modal fade" id="orders-dialog" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table id="orders-table" class="table">
                    <thead class="thead-default">
                        <th width="55%">Заказы</th>
                        <th width="20%">Кол - во книг</th>
                        <th width="20%">Стоимость</th>
                        <th width="5%"></th>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-primary" onclick="openOrdersPage()">Редактирование заказов</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="new-book-dialog" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body"><form>
                <div class="row">
                    <div class="col form-group">
                        <label class="form-control-label" for="new-book-year">Год</label>
                        <input id="new-book-year" type="number" class="form-control" />
                    </div>
                    <div class="col form-group">
                        <label class="form-control-label" for="new-book-isbn">ISBN</label>
                        <input id="new-book-isbn" type="text" class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col form-group">
                        <label class="form-control-label" for="new-book-pages">Количество страниц</label>
                        <input id="new-book-pages" type="number" class="form-control" />
                    </div>
                    <div class="col form-group">
                        <label class="form-control-label" for="new-book-price">Стоимость (руб.)</label>
                        <input id="new-book-price" type="number" class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col form-group">
                        <label class="form-control-label" for="new-book-name">Название</label>
                        <input id="new-book-name" type="text" class="form-control" />
                    </div>
                    <div class="col form-group">
                        <label class="form-control-label" for="new-book-authors">Авторы</label>
                        <input id="new-book-authors" type="text" class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col form-group">
                        <label class="form-control-label" for="new-book-publication">Том</label>
                        <input id="new-book-publication" type="number" class="form-control" />
                    </div>
                    <div class="col form-group">
                        <label class="form-control-label" for="new-book-volume-name">Название издания</label>
                        <input id="new-book-volume-name" type="text" class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col form-group">
                        <label class="form-control-label" for="new-book-volume-number">Номер издания</label>
                        <input id="new-book-volume-number" type="number" class="form-control" />
                    </div>
                    <div class="col form-group">
                        <label for="new-book-provider">Издательство</label>
                        <select id="new-book-provider" class="custom-select form-control">
                        {% for provider in providers %}
                            <option value="{{ provider.id }}">{{ provider.name }}</option>
                        {% endfor %}
                        </select>
                    </div>
                </div>
            </form></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-primary" onclick="createNewBook()">Добавить</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block userscripts %}
<script src="{% static 'booking/main/main.js' %}"></script>
{% endblock %}
