{% extends "booking/booking.html" %}
{% block userstyles %}
<link href="{% static 'booking/orders/orders.css' %}" rel="stylesheet">
{% endblock %}
{% block links %}
<li class="nav-item"><a class="nav-link" href="{% url 'booking:main_page' %}">Книги</a></li>
<li class="nav-item"><a class="nav-link active" href="#">Заказы</a></li>
<li class="nav-item"><a class="nav-link" href="{% url 'booking:catalogs_page' %}">Издательства</a></li>
{% endblock %}
{% block marketing %}
<div class="col-12 col-md-9">
    <table id="orders-table" class="table table-hover">
        <thead class="thead-default">
            <th width="50%">Заказы</th>
            <th width="20%">Кол - во книг</th>
            <th width="20%">Стоимость</th>
            <th width="10%"></th>
        </thead>
        <tbody></tbody>
    </table>
</div>
<div class="col-6 col-md-3 sidebar-offcanvas">
    <button id="add-new-order" type="button" class="btn btn-success add-new-button" onclick="openCreateOrderPopup()">Создать новый заказ</button>
    <div class="filters list-group">
        <form class="list-group-item">
            <div class="form-group">
                <label for="filter-provider">Издательство</label>
                <select id="filter-provider" class="custom-select form-control">
                    <option value="0">Все</option>
                    {% for provider in providers %}
                    <option value="{{ provider.id }}">{{ provider.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="filter-state">Статус</label>
                <select id="filter-state" class="custom-select form-control">
                    <option value="0">Все</option>
                    {% for pos, state in states %}
                    <option value="{{ pos }}">{{ state }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="filter-year">Год</label>
                <input id="filter-year" type="number" class="form-control">
            </div>
            <div style="min-width: 100%" class="btn-group-vertical" role="group">
                <button id="apply-orders-filter" type="button" class="btn btn-outline-primary" onclick="applyOrdersFilter()">Применить</button>
                <button type="button" class="btn btn-outline-primary" onclick="resetOrdersFilter()">Сбросить</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block body %}
<div class="modal fade" id="order-customize-dialog" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body"><form>
                <div class="form-group">
                    <label for="customize-order-provider">Издательство</label>
                    <select id="customize-order-provider" class="custom-select form-control" disabled="disabled">
                    {% for provider in providers %}
                        <option value="{{ provider.id }}">{{ provider.name }}</option>
                    {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="customize-order-state">Состояние</label>
                    <select id="customize-order-state" class="custom-select form-control" onchange="changeCurrentOrderState()">
                    {% for pos, state in states %}
                        <option value="{{ pos }}">{{ state }}</option>
                    {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="customize-order-year">Год</label>
                    <input id="customize-order-year" type="text" class="form-control" onchange="changeCurrentOrderYear()" />
                </div>
                <div class="form-group">
                    <table id="customize-order-books-table" class="table table-hover">
                        <thead class="thead-default">
                            <th width="40%">Описание книги</th>
                            <th width="20%">Цена (пост.)</th>
                            <th width="20%">Цена (собс.)</th>
                            <th width="10%">Кол - во</th>
                            <th width="10%"></th>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </form></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block userscripts %}
<script>
function openCreateOrderPopup() {
    var content = "<div class=\"add-order-popup\">" +
        "<label for=\"new-order-provider\">Выберите издательство:</label>" +
        "<select id=\"new-order-provider\" class=\"custom-select form-control\">" +
        "{% for provider in providers %}" +
        "<option value=\"{{ provider.id }}\">{{ provider.name }}</option>" +
        "{% endfor %}</select>" +
        "<div class=\"btn-group btn-group-justified\" style=\"margin-top:0.5em;min-width:100%\" role=\"group\">" + 
        "<button style=\"width: 50%\" type=\"button\" class=\"btn btn-success\" onclick=\"createEmptyOrder()\">Создать</button>" +
        "<button style=\"width: 50%\" type=\"button\" class=\"btn btn-secondary\" onclick=\"hideCreateOrderPopup()\">Отмена</button>" +
        "</div></div>";
    $("#add-new-order").popover({
        "html": true,
        "placement": "bottom",
        "content": content,
    }).popover("show").on("hide.bs.popover", function() {
        $("#add-new-order").popover("dispose");
    });
}
</script>
<script src="{% static 'booking/orders/orders.js' %}"></script>
{% endblock %}
